/**
 * Editor styles (styleseet for the page and post edit boxes)
 *
 * @package Emphaino
 * @since Emphaino 1.0
 */


@import "compass";
@import "defines";
@import "reset";
@import "helpers";
@import "globals";

html{
	max-width: 740px;
	overflow-y: visible;
}

body {
	padding: 20px 40px;
	font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 10px;
}
h1 {
	font-size: 24px;
	border-bottom: 1px solid $border-color;
}
h2 {
	font-size: 22px;
}
h3 {
	font-size: 18px;
}
h4 {
	font: bold 14px $sans-font;
	text-transform: uppercase;
}
h5 {
	font: bold 12px $sans-font;
	text-transform: uppercase;
}
h6 {
	font: bold 12px $sans-font;
}
.wp-caption {
	border: 0;
	background: transparent;
	max-width: 100%;
}
.wp-caption, .entry-attachment {
	margin-bottom: 1.5em;
	padding: 0;
	width: 100%;
	img {
		@include blocks-box;
		width: 100%;
	}
}
.wp-caption-text, .wp-caption-dd, .entry-attachment .entry-caption p {
	@include blocks-box;
	padding: 2px 5px;
	margin: 4px 0 0;
	text-align: center;
}
