/**
 * Styles for IE8.
 * IE7 and below not supported.
 *
 * @package Emphaino
 * @since Emphaino 1.0
 */
/* Prevent stretching of full-size images with height and width attributes in IE8 */
.site-header img,
.entry-content img,
img.size-full {
  width: auto;
}

/* Non Responsive Layout for IE 8 */
#page {
  width: 940px;
  width: 94rem;
}

.js #dynamic-grid {
  margin: -10px -10px 20px;
  margin: -1rem -1rem 2rem;
}
.js #dynamic-grid .hentry {
  float: left;
  width: 280px;
  width: 28rem;
  margin: 10px;
  margin: 1rem;
  padding: 10px;
  padding: 1rem;
}
.js #dynamic-grid .hentry .entry-header {
  text-align: left;
}

body {
  padding: 0 20px;
  padding: 0 2rem;
}

.site-header .header-main {
  padding: 30px 20px 32px;
  padding: 3rem 2rem 3.2rem;
}
.site-header .site-title {
  font-size: 40px;
  font-size: 4rem;
}
.site-header .site-description {
  font-size: 14px;
  font-size: 1.4rem;
}

.has-logo-image .site-header .header-main {
  padding: 30px 20px;
  padding: 3rem 2rem;
}
.has-logo-image .site-header .header-main img {
  max-height: 80px;
  max-height: 8rem;
  width: auto;
}

.custom-header.no-logo-image.header-text-hidden .site-header .header-main {
  min-height: 78px;
  min-height: 7.8rem;
}

.page-header,
.hentry,
.comments-area,
.post-navigation {
  padding: 20px;
  padding: 2rem;
}

.single .entry-title,
body.page .entry-title,
.one-col-excerpts .entry-title,
.one-col-full-posts .entry-title,
.not-found .entry-title,
.no-js .hentry .entry-title {
  font-size: 27px;
  font-size: 2.7rem;
}
.single .entry-content,
.single .entry-summary,
.single .comment-content,
.single .comments-area,
.single .pingback,
body.page .entry-content,
body.page .entry-summary,
body.page .comment-content,
body.page .comments-area,
body.page .pingback,
.one-col-excerpts .entry-content,
.one-col-excerpts .entry-summary,
.one-col-excerpts .comment-content,
.one-col-excerpts .comments-area,
.one-col-excerpts .pingback,
.one-col-full-posts .entry-content,
.one-col-full-posts .entry-summary,
.one-col-full-posts .comment-content,
.one-col-full-posts .comments-area,
.one-col-full-posts .pingback,
.not-found .entry-content,
.not-found .entry-summary,
.not-found .comment-content,
.not-found .comments-area,
.not-found .pingback,
.no-js .hentry .entry-content,
.no-js .hentry .entry-summary,
.no-js .hentry .comment-content,
.no-js .hentry .comments-area,
.no-js .hentry .pingback {
  font-size: 14px;
  font-size: 1.4rem;
}
.single .entry-content h1,
.single .entry-summary h1,
.single .comment-content h1,
.single .comments-area h1,
.single .pingback h1,
body.page .entry-content h1,
body.page .entry-summary h1,
body.page .comment-content h1,
body.page .comments-area h1,
body.page .pingback h1,
.one-col-excerpts .entry-content h1,
.one-col-excerpts .entry-summary h1,
.one-col-excerpts .comment-content h1,
.one-col-excerpts .comments-area h1,
.one-col-excerpts .pingback h1,
.one-col-full-posts .entry-content h1,
.one-col-full-posts .entry-summary h1,
.one-col-full-posts .comment-content h1,
.one-col-full-posts .comments-area h1,
.one-col-full-posts .pingback h1,
.not-found .entry-content h1,
.not-found .entry-summary h1,
.not-found .comment-content h1,
.not-found .comments-area h1,
.not-found .pingback h1,
.no-js .hentry .entry-content h1,
.no-js .hentry .entry-summary h1,
.no-js .hentry .comment-content h1,
.no-js .hentry .comments-area h1,
.no-js .hentry .pingback h1 {
  font-size: 24px;
  font-size: 2.4rem;
}
.single .entry-content h2,
.single .entry-summary h2,
.single .comment-content h2,
.single .comments-area h2,
.single .pingback h2,
body.page .entry-content h2,
body.page .entry-summary h2,
body.page .comment-content h2,
body.page .comments-area h2,
body.page .pingback h2,
.one-col-excerpts .entry-content h2,
.one-col-excerpts .entry-summary h2,
.one-col-excerpts .comment-content h2,
.one-col-excerpts .comments-area h2,
.one-col-excerpts .pingback h2,
.one-col-full-posts .entry-content h2,
.one-col-full-posts .entry-summary h2,
.one-col-full-posts .comment-content h2,
.one-col-full-posts .comments-area h2,
.one-col-full-posts .pingback h2,
.not-found .entry-content h2,
.not-found .entry-summary h2,
.not-found .comment-content h2,
.not-found .comments-area h2,
.not-found .pingback h2,
.no-js .hentry .entry-content h2,
.no-js .hentry .entry-summary h2,
.no-js .hentry .comment-content h2,
.no-js .hentry .comments-area h2,
.no-js .hentry .pingback h2 {
  font-size: 22px;
  font-size: 2.2rem;
}
.single .entry-content h3,
.single .entry-summary h3,
.single .comment-content h3,
.single .comments-area h3,
.single .pingback h3,
body.page .entry-content h3,
body.page .entry-summary h3,
body.page .comment-content h3,
body.page .comments-area h3,
body.page .pingback h3,
.one-col-excerpts .entry-content h3,
.one-col-excerpts .entry-summary h3,
.one-col-excerpts .comment-content h3,
.one-col-excerpts .comments-area h3,
.one-col-excerpts .pingback h3,
.one-col-full-posts .entry-content h3,
.one-col-full-posts .entry-summary h3,
.one-col-full-posts .comment-content h3,
.one-col-full-posts .comments-area h3,
.one-col-full-posts .pingback h3,
.not-found .entry-content h3,
.not-found .entry-summary h3,
.not-found .comment-content h3,
.not-found .comments-area h3,
.not-found .pingback h3,
.no-js .hentry .entry-content h3,
.no-js .hentry .entry-summary h3,
.no-js .hentry .comment-content h3,
.no-js .hentry .comments-area h3,
.no-js .hentry .pingback h3 {
  font-size: 18px;
  font-size: 1.8rem;
}
.single .entry-content h4,
.single .entry-summary h4,
.single .comment-content h4,
.single .comments-area h4,
.single .pingback h4,
body.page .entry-content h4,
body.page .entry-summary h4,
body.page .comment-content h4,
body.page .comments-area h4,
body.page .pingback h4,
.one-col-excerpts .entry-content h4,
.one-col-excerpts .entry-summary h4,
.one-col-excerpts .comment-content h4,
.one-col-excerpts .comments-area h4,
.one-col-excerpts .pingback h4,
.one-col-full-posts .entry-content h4,
.one-col-full-posts .entry-summary h4,
.one-col-full-posts .comment-content h4,
.one-col-full-posts .comments-area h4,
.one-col-full-posts .pingback h4,
.not-found .entry-content h4,
.not-found .entry-summary h4,
.not-found .comment-content h4,
.not-found .comments-area h4,
.not-found .pingback h4,
.no-js .hentry .entry-content h4,
.no-js .hentry .entry-summary h4,
.no-js .hentry .comment-content h4,
.no-js .hentry .comments-area h4,
.no-js .hentry .pingback h4 {
  font-size: 14px;
  font-size: 1.4rem;
}

.wp-post-image.attachment-post-thumbnail {
  width: 150px;
  width: 15rem;
}

.wp-caption-text, .entry-attachment .entry-caption p {
  font-size: 0.8em;
}

.comments-title {
  font-size: 22px;
  font-size: 2.2rem;
}

#reply-title {
  font-size: 20px;
  font-size: 2rem;
}

ol.commentlist ul.children {
  margin-left: 40px;
  margin-left: 4rem;
}
ol.commentlist ul.children > li:before {
  font-size: 2.4rem;
  left: -3.6rem;
}

.pingback {
  margin: 0 0 20px;
  margin: 0 0 2rem;
}
.pingback p:before {
  font-size: 16px;
  font-size: 1.6rem;
}

article.comment {
  margin: 0 0 20px;
  margin: 0 0 2rem;
  padding-left: 100px;
  padding-left: 10rem;
  min-height: 80px;
  min-height: 8rem;
}
article.comment footer {
  padding: 0 0 3px;
  padding: 0 0 0.3rem;
}
article.comment footer em {
  left: 100px;
  left: 10rem;
}

.avatar {
  width: 80px;
  width: 8rem;
  position: absolute;
  top: 10px;
  top: 1rem;
  left: 10px;
  left: 1rem;
  background: #f8f8f8;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 0.2rem;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 0.2rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 0.2rem;
}

.comment-author cite {
  position: static;
  font-size: 16px;
  font-size: 1.6rem;
}

.comment-meta {
  float: right;
  left: 0;
  top: -20px;
  top: -2rem;
  font-size: 12px;
  font-size: 1.2rem;
}

.no-comment-avatars article.comment {
  padding-left: 10px;
  padding-left: 1rem;
}
.no-comment-avatars .comment-meta {
  position: relative;
}

#respond {
  font-size: 14px;
  font-size: 1.4rem;
}

.content-area {
  max-width: 620px;
  max-width: 62rem;
}

.single.no-sidebar .hentry,
.single.no-sidebar .comments-area,
body.page.no-sidebar .hentry,
body.page.no-sidebar .comments-area,
.one-col-excerpts.no-sidebar .hentry,
.one-col-excerpts.no-sidebar .comments-area,
.one-col-full-posts.no-sidebar .hentry,
.one-col-full-posts.no-sidebar .comments-area,
.no-js.no-sidebar .hentry,
.no-js.no-sidebar .comments-area {
  padding: 40px;
  padding: 4rem;
}
.single.no-sidebar .entry-header,
.single.no-sidebar .entry-content,
.single.no-sidebar .entry-summary,
.single.no-sidebar #image-navigation,
.single.no-sidebar .entry-meta,
.single.no-sidebar .comments-title,
.single.no-sidebar .comment-navigation,
.single.no-sidebar ol.commentlist,
.single.no-sidebar #respond,
body.page.no-sidebar .entry-header,
body.page.no-sidebar .entry-content,
body.page.no-sidebar .entry-summary,
body.page.no-sidebar #image-navigation,
body.page.no-sidebar .entry-meta,
body.page.no-sidebar .comments-title,
body.page.no-sidebar .comment-navigation,
body.page.no-sidebar ol.commentlist,
body.page.no-sidebar #respond,
.one-col-excerpts.no-sidebar .entry-header,
.one-col-excerpts.no-sidebar .entry-content,
.one-col-excerpts.no-sidebar .entry-summary,
.one-col-excerpts.no-sidebar #image-navigation,
.one-col-excerpts.no-sidebar .entry-meta,
.one-col-excerpts.no-sidebar .comments-title,
.one-col-excerpts.no-sidebar .comment-navigation,
.one-col-excerpts.no-sidebar ol.commentlist,
.one-col-excerpts.no-sidebar #respond,
.one-col-full-posts.no-sidebar .entry-header,
.one-col-full-posts.no-sidebar .entry-content,
.one-col-full-posts.no-sidebar .entry-summary,
.one-col-full-posts.no-sidebar #image-navigation,
.one-col-full-posts.no-sidebar .entry-meta,
.one-col-full-posts.no-sidebar .comments-title,
.one-col-full-posts.no-sidebar .comment-navigation,
.one-col-full-posts.no-sidebar ol.commentlist,
.one-col-full-posts.no-sidebar #respond,
.no-js.no-sidebar .entry-header,
.no-js.no-sidebar .entry-content,
.no-js.no-sidebar .entry-summary,
.no-js.no-sidebar #image-navigation,
.no-js.no-sidebar .entry-meta,
.no-js.no-sidebar .comments-title,
.no-js.no-sidebar .comment-navigation,
.no-js.no-sidebar ol.commentlist,
.no-js.no-sidebar #respond {
  max-width: 660px;
  max-width: 66rem;
  margin-right: auto;
  margin-left: auto;
}
.single.no-sidebar .entry-title,
body.page.no-sidebar .entry-title,
.one-col-excerpts.no-sidebar .entry-title,
.one-col-full-posts.no-sidebar .entry-title,
.no-js.no-sidebar .entry-title {
  font-size: 30px;
  font-size: 3rem;
}
.single.no-sidebar .entry-content,
.single.no-sidebar .entry-summary,
body.page.no-sidebar .entry-content,
body.page.no-sidebar .entry-summary,
.one-col-excerpts.no-sidebar .entry-content,
.one-col-excerpts.no-sidebar .entry-summary,
.one-col-full-posts.no-sidebar .entry-content,
.one-col-full-posts.no-sidebar .entry-summary,
.no-js.no-sidebar .entry-content,
.no-js.no-sidebar .entry-summary {
  font-size: 16px;
  font-size: 1.6rem;
}
.single.no-sidebar .pingback, .single.no-sidebar article.comment,
body.page.no-sidebar .pingback,
body.page.no-sidebar article.comment,
.one-col-excerpts.no-sidebar .pingback,
.one-col-excerpts.no-sidebar article.comment,
.one-col-full-posts.no-sidebar .pingback,
.one-col-full-posts.no-sidebar article.comment,
.no-js.no-sidebar .pingback,
.no-js.no-sidebar article.comment {
  margin: 0 0 30px;
  margin: 0 0 3rem;
}
.single.has-sidebar .site-main,
body.page.has-sidebar .site-main,
.one-col-excerpts.has-sidebar .site-main,
.one-col-full-posts.has-sidebar .site-main,
.no-js.has-sidebar .site-main {
  padding: 0 240px 0 0;
  padding: 0 24rem 0 0;
}
.single.has-sidebar .content-area,
body.page.has-sidebar .content-area,
.one-col-excerpts.has-sidebar .content-area,
.one-col-full-posts.has-sidebar .content-area,
.no-js.has-sidebar .content-area {
  float: left;
  margin-right: -100%;
  width: 100%;
}
.single.has-sidebar .widget-area.sidebar,
body.page.has-sidebar .widget-area.sidebar,
.one-col-excerpts.has-sidebar .widget-area.sidebar,
.one-col-full-posts.has-sidebar .widget-area.sidebar,
.no-js.has-sidebar .widget-area.sidebar {
  float: right;
  margin-right: -240px;
  margin-right: -24rem;
  width: 220px;
  width: 22rem;
}
.single.has-sidebar #the-sidebar,
body.page.has-sidebar #the-sidebar,
.one-col-excerpts.has-sidebar #the-sidebar,
.one-col-full-posts.has-sidebar #the-sidebar,
.no-js.has-sidebar #the-sidebar {
  width: 220px;
  width: 22rem;
}
.single.has-sidebar .entry-title,
body.page.has-sidebar .entry-title,
.one-col-excerpts.has-sidebar .entry-title,
.one-col-full-posts.has-sidebar .entry-title,
.no-js.has-sidebar .entry-title {
  text-align: left;
}
.single.has-sidebar .comment-meta,
body.page.has-sidebar .comment-meta,
.one-col-excerpts.has-sidebar .comment-meta,
.one-col-full-posts.has-sidebar .comment-meta,
.no-js.has-sidebar .comment-meta {
  float: none;
  position: relative;
  top: 0;
}

.single.has-sidebar .entry-title,
body.page.has-sidebar .entry-title,
.one-col-excerpts.has-sidebar .entry-title,
.one-col-full-posts.has-sidebar .entry-title,
.no-js.has-sidebar .entry-title {
  font-size: 30px;
  font-size: 3rem;
}
.single.has-sidebar .entry-content,
.single.has-sidebar .entry-summary,
body.page.has-sidebar .entry-content,
body.page.has-sidebar .entry-summary,
.one-col-excerpts.has-sidebar .entry-content,
.one-col-excerpts.has-sidebar .entry-summary,
.one-col-full-posts.has-sidebar .entry-content,
.one-col-full-posts.has-sidebar .entry-summary,
.no-js.has-sidebar .entry-content,
.no-js.has-sidebar .entry-summary {
  font-size: 16px;
  font-size: 1.6rem;
}

.content-area {
  max-width: 940px;
  max-width: 94rem;
}

.single.has-sidebar .comment-meta, body.page.has-sidebar .comment-meta {
  float: right;
  top: -20px;
  top: -2rem;
}

#footer-widgets {
  width: 940px;
  width: 94rem;
}

#bottom-bar .footer-text {
  width: 48%;
  float: left;
  text-align: left;
}
#bottom-bar .site-info {
  width: 48%;
  float: right;
  text-align: right;
}

.header-main, .widget-area, .page-header, .post-navigation, .paging-navigation {
  border: 1px solid #ddd;
}
